<div class="image">
    <br><br><br><br><br>
    <h1 class="display-1 align-middle text-center font-weight-bold">ReimburseWiz</h1>
    <hr class="col-md-5">
    <h3 class="display-3 align-middle text-center font-weight-bold">Reimbursement made easy</h3>
    <br><br>
    <div class="align-middle text-center">
        <!-- <button type="submit" click()="loginPage()" class="myButton">Get started</button> -->
        <button type="submit" (click)="loginPage()" class="btn btn-login">Get Started</button>
    </div>
</div>
  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color:white">© 2020 Copyright:
      <a> Tae Myles </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->