<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-lg-2 sidenav">
        </div>

        <div class="col-sm-8 center">
            
            <div class="a mt-5 col-md-12">
                <h1>Welcome to ReimburseWiz!</h1>
                <h3>You can rely on ReimburseWiz to reimburse employees for expenses incurred while on company time.</h3>
            </div>

            <div class="float-container">
                <div class="float-child">
                    <img src="assets/img/employee.png" alt="image" width="500" class="rounded" style=background-color:#ed645a>
                </div>
                    
            <div class="float-child">
                <div class="padding-top-xl padding-bot-xl">
                    <h3>
                        Employees submit a reimbursement request for the expenses incurred while on company time.
                    </h3>
                </div>
            </div>
        
            <div class="float-child">
                <div class="padding-top-xl padding-bot-xl">
                    <h3>
                        Finance managers approve or deny requests for expense reimbursement.
                    </h3>
                </div>
            </div>
                
            <div class="float-child">
                <img src="assets/img/transfermoney.jpg" alt="image" width="500" class="rounded">
            </div> 
        </div>

        <div class="col-sm-2 sidenav">
        </div>
    </div>
</div>
