<section class="login-block">
  <div class="container">
    <div class="row ">
      <div class="col login-sec">
        <h2 class="text-center">Login</h2>
        <form class="login-form">
          <div class="form-group">
            <label for="exampleInputEmail1" style=color:#0069c0>Username</label>
            <input [(ngModel)]="username" id="username" type="text" name="username" class="form-control" placeholder="">
          </div>
          
          <div class="form-group">
            <label for="exampleInputPassword1" style=color:#0069c0>Password</label>
            <input [(ngModel)]="password" id="password" type="password" name="password" class="form-control" placeholder="">
          </div>

          <div class="form-check text-center">
            <button type="submit" (click)="sendLogin(); dispAlert()" class="btn btn-login col-md-5">Submit</button>
            <p class="message mt-3" style="color:white">Not registered? <a [routerLink]="" (click)="registerPage()"> Create an account</a></p>
          </div>
          <div *ngIf="show" class="alert alert-success text-center" role="alert">
            Login Successful!
          </div>
        </form>
      </div>
    </div>
  </div>
</section>