/* You can add global styles to this file, and also import other style files */
body { background-color: #171c28; }

h1 { color: white; }
h2 { color: white; }
h3 { color: white; }

.padding-top-xl { padding-top: 6em }
.padding-bot-xl { padding-bottom: 7.5em}
.padding-top-xl1 { padding-top: 10em }

.button-padding-top { padding-top: 2em }
.button-padding-bot { padding-bottom: 2em}

.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}
