<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ReimburseWiz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>com.revature.web.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ReimburseFormServlet</display-name>
    <servlet-name>ReimburseFormServlet</servlet-name>
    <servlet-class>com.revature.web.ReimburseFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimburseFormServlet</servlet-name>
    <url-pattern>/reimburseform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimburseInfoServlet</display-name>
    <servlet-name>ReimburseInfoServlet</servlet-name>
    <servlet-class>com.revature.web.ReimburseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimburseInfoServlet</servlet-name>
    <url-pattern>/reimburseInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerReimburseServlet</display-name>
    <servlet-name>ManagerReimburseServlet</servlet-name>
    <servlet-class>com.revature.web.ManagerReimburseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReimburseServlet</servlet-name>
    <url-pattern>/managerReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerApprovalServlet</display-name>
    <servlet-name>ManagerApprovalServlet</servlet-name>
    <servlet-class>com.revature.web.ManagerApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerApprovalServlet</servlet-name>
    <url-pattern>/managerapproval</url-pattern>
  </servlet-mapping>
</web-app>