<div class="container-fluid text-center padding-top-xl">    
    <div class="row content">
        <div class="col-lg-4 sidenav">
        </div>

        <div class="container">
            <div class="row">
                <form class="reimbursement-form">
                    <h1 class="text-center"> Reimbursement Form </h1>
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="col-sm-12 form-control" id="type" [(ngModel)]="type" name="type">
                                    <option value="" disabled selected>Reimbursement Type</option>
                                    <option value="lodging">Lodging</option>
                                    <option value="travel">Travel</option>
                                    <option value="food">Food</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" id="amount" [(ngModel)]="amount" name="amount"  placeholder="Amount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control textarea" rows="3" id="description" placeholder="Description" [(ngModel)]="description" name="description"></textarea>
                            </div>
                            
                            <div class="form-group float-left" style="background-color:gainsboro">
                                <input type="file" (change)="fileChange($event)" accept=".png, .jpg, .jpeg, .pdf" />
                                <!-- <input [(ngModel)]="receipt" id="receipt" type="file" name="receipt"> -->
                            </div>
                            
                        </div>
                    </div>
            
                    <div class="btn-group col-md-12 text-center">
                        <button class="btn btn-lg main-btn" type="button" (click)="sendForm()">Submit</button>
                    </div>
                    <div class="btn-group col-md-12 mt-4">
                        <button type="submit" (click)="goback()" class="btn btn-lg btn-danger"> Go Back </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-2 sidenav">
        </div>
    </div>
</div>